
/aseprite
/audacity
/autostart
/Blockbench
/Code
/draw.io
/Electron
/evolution
/Ferdium
/GitHub Desktop
/go
/google-chrome
/libreoffice
/Plasticity
/zed
/remmina
/vlc
/yelp
/pulse
/sublime-merge
/totem
/nautilus
/menus
/godot
/gtk-4.0
/gtk-3.0
/freerdp
dconf/user
dlv/config.yml
.gsd-keyboard.settings-ported
background
connections.db
gnome-initial-setup-done
lazycli/config.yml
mimeapps.list
monitors.xml
monitors.xml~
old_nvim/
QtProject.conf
user-dirs.dirs
user-dirs.locale
/github-copilot
/glib-2.0
/IPFS Desktop
/obsidian
/VirtualBox
/ytmdl
/cursr
/activitywatch
/akonadi
/blender/4.2/extensions
blender/4.2/config/platform_support.txt
blender/4.2/config/recent-searches.txt
baloofilerc
baloofileinformationrc
arkrc
/atuin
/blender/4.2/scripts
/gh
/flutter
filetypesrc
/fontconfig
/environment.d
bluedevilglobalrc
config/
dolphinrc
emacs/
emaildefaults
emailidentities
gtkrc
gtkrc-2.0
gwenviewrc
kactivitymanagerd-statsrc
kactivitymanagerdrc
kalendaracrc
katemetainfos
katerc
kateschemarc
katevirc
kcmfonts
kcminputrc
kconf_updaterc
/kdeconnect
kio_fishrc
/lazydocker
/libaccounts-glib
/Podman Desktop
/REAPER
/touchegg
/spotify
/session
spectaclerc
startkderc
systemmonitorrc
systemsettingsrc
trashrc
Trolltech.conf
xdg-desktop-portal-kderc
xremap/config.yml
xsettingsd/xsettingsd.conf
zanshin-migratorrc
zanshinrc
nvim/doc/tags
nvim/lazy-lock.json
/raycast
/raycast
nvim/lazy-lock.json
nvim/lazy-lock.json
/kde.org
plasma-org.kde.plasma.desktop-appletsrc
plasmarc
nvim/lazy-lock.json
/Google
/unity3d
/configstore
/wally
/lazygit
*.sqlite3
/blender
/clerk
/kde.org
kde.org/UserFeedback.org.kde.dolphin.conf
/kde.org
kdeglobals
kglobalshortcutsrc
kwinrc
/gh-dash
/Android Open Source Project
/kde.org
/dwarftherapist
/figma-linux
/kde.org
/kde.org
/chromium
/Cursor
/nvim-nyoom
